/*  corona.css 
    style sheet document for the corona pallets website,
    created by Octavio Rodriguez */
#map {
    height: 200px;
    width: 25%;
       }
#location {
    position: relative;
    bottom: 100px;
    left: 500px;
}
#title {
    background-color: darkseagreen;
    font-family: fantasy;
    color: aliceblue;
    height:90px;   
    padding-top: 10px;
    padding-left: 20px;
}
#innertitle {
    font-size: 25px;
    margin-bottom: 0px;
    height: 60px;

}
#services {
    margin-top: 0;
    margin-left:110px;
}
#picture {
    margin-top: 100px;
    position:relative;
    bottom: 50px;
    height: 175px;
}
#pic1 {
    position: relative;
    left:75px;
}
#pic2 {
    position:relative;
    left: 475px;
    bottom: 150px;
}
#pic3 {
    position: relative;
    bottom: 305px;
    left: 925px; 
}
#contact {
    position: relative;
    top: 50px;
    font-family: monospace;
    margin-left: 25px;
    font-size: 15px;
    width:30%;
    
}
body {
    margin: 0;
}
h1{
    margin: 0;
}
