/*  corona.css 
    style sheet document for the corona pallets website,
    created by Octavio Rodriguez */
#intro {
    width: 70%;
    margin-left: 50px;
    font-size: 20px;
    color: ;
    font-family: fantasy;
}
#buy {
    position: relative;
    top: 165px;
    left: 40px;
    font-size: 25px;
    font-family: fantasy;
    color: darkseagreen;
    width: 350px;
}
#repair {
    position: relative;
    left: 440px;
    top: 100px;
    font-size: 20px;
    font-family: fantasy;
    width: 350px;
    color: darkseagreen;
    
    
}
#recycle{
    position: relative;
    top: 15px;
    left: 875px;
    font-size: 20px;
    font-family: fantasy;
    width: 350px;
    color: darkseagreen;
    
}
#map {
    height: 200px;
    width: 25%;
       }
#location {
    position: relative;
    bottom: 405px;
    left: 700px;
    font-family: monospace;
}
#title {
    background-color: darkseagreen;
    font-family: fantasy;
    color: aliceblue;
    height:90px;   
    padding-top: 10px;
    padding-left: 20px;
}
#innertitle {
    font-size: 25px;
    margin-bottom: 0px;
    height: 60px;

}
#services {
    margin-top: 0;
    margin-left:110px;
}
#picture {
    margin-top: 100px;
    margin-bottom: 50px;
    position:relative;
    bottom: 300px;
    height: 175px;
}
#pic1 {
    position: relative;
    left:75px;
}
#pic2 {
    position:relative;
    left: 475px;
    bottom: 150px;
}
#pic3 {
    position: relative;
    bottom: 305px;
    left: 925px; 
}
#contact {
    position: relative;
    bottom: 280px;
    font-family: monospace;
    margin-left: 25px;
    font-size: 15px;
    width:30%;
    
}
body {
    margin: 0;
    height: 800px;
    width: 1280px;
}
h1{
    margin: 0;
}
